<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
	<mdb-navbar-brand>
		<a class="navbar-brand" href="#">Foo</a>
	</mdb-navbar-brand>
	<links>
		<div class="navbar-nav">
			<a class="nav-item nav-link active waves-light" href="#" mdbWavesEffect>Home <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Features</a>
			<a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Pricing</a>
			<a class="nav-item nav-link disabled" href="#">Disabled</a>
		</div>
	</links>
</mdb-navbar>
<div class="container">
<p>
	main works!
</p>
</div>

